/* css styles */

.profile-container .quarto-layout-row {
    display: flex;
    align-items: center;
}

.profile-pic {
    border-radius: 50%;
    min-width: 143px;
    min-height: 143px;
    max-width: 143px;
    max-height: 143px;
}
